body {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #d7d7d7;
    background: #1C1E20;
    height: 100%;
	width: 100%;
    overflow-x: hidden;
}

::selection {
    background: #009CDF;
    color: #d7d7d7;
}
::-moz-selection {
    background: #009CDF;
    color: #d7d7d7;
}

#page-preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: #1C1E20;
}
#page-preloader .loader {
	margin-top: 25%;
	text-align: center;
}
#page-preloader .loader img {
	width: 30px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.padding-top {
    padding-top: 50px;
}

.margin-top {
    margin-top: 50px;
}

#page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section {
    display: block;
}

.wrapper.color-bg {
    background: #009CDF;
}

.headline-wrapper {
	margin-bottom: 80px;
	padding: 80px 0;
	text-align: center;
	/*background: #009CDF;*/
}

.bx-pager {
  display: none;
}

.parallax-content {
    width: 100%;
	margin-top: 80px;
	padding: 80px 0;
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.parallax-clients {
    background: #009CDF;
    background-image: url('../images/banner/background-blue.jpg');
}
.parallax-comments {
    background-image: url('../images/banner/blur_background.jpg');
}
.parallax-newsletter {
    background-image: url('../images/banner/blur_background.jpg');
}
.parallax-contact {
    background-image: url('../images/banner/blur_background.jpg');
}

.video-background {
    position: relative;
    width: 100%;
    text-align: center;
    color: #d7d7d7;
    overflow: hidden;
    background: none;
}

.video-background video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

#header {
    display: block;
    position: fixed;
    left: -260px;
    top: 0;
    width: 260px;
    height: 100%;
    text-align: center;
    background: #27333d;
    z-index: 998;
}

#header .logo-wrapper {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
}

.social-links {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
}
.social-links a {
     display: inline-block;
     margin: 0 10px;
     font-size: 1.3em;
     color: #d7d7d7;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}
.social-links a:hover {
    color: #009CDF;
}

#open-nav {
    position: absolute;
    display: block;
    padding: 0;
	width: 50px;
    top: 48%;
    right: -50px;
    font-size: 1.8em;
    text-align: center;
	color: #d7d7d7;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}
#open-nav:hover {
    color: #56c16b;
}

#main-navigation {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
}
#main-navigation li {
    margin: 0 0 10px 0;
}
#main-navigation li a {
    font-size: 0.9em;
    font-weight: 600;
    color: #d7d7d7;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}
#main-navigation li a:hover {
    color: #009CDF;
}
#main-navigation li a.active {
    color: #009CDF;
}

#banner {
    width: 100%;
    height: 100%;
    text-align: center;
}
#banner.parallax {
    background: #009CDF;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('../images/banner/background-blue.jpg');
}

#banner .banner-container {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    padding: 0 20px;
    line-height: 1.3;
    z-index: 10;
}

#banner .big-text {
    display: block;
    font-weight: 600;
    font-size: 5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
}
#banner .small-text {
    display: block;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
}

#banner .button-wrapper {
    padding-top: 80px;
}

#banner .button-wrapper .button {
    margin: 0 5px 10px 5px;
}

#banner .scroll-down {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    z-index: 10;
}

#banner .scroll-down a {
    display: inline-block;
	width: 50px;
	height: 50px;
	background: url('../images/layout/down.png') no-repeat center;
    border: 2px solid #dadada;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
    -webkit-animation-name: jump;
    -moz-animation-name: jump;
    -o-animation-name: jump;
    -ms-animation-name: jump;
    animation-name: jump;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
	
}
#banner .scroll-down a:hover {
    border: 2px solid #009CDF;
    background-color: #009CDF;
    -webkit-animation-name: none;
    -moz-animation-name: none;
    -o-animation-name: none;
    -ms-animation-name: none;
    animation-name: none;
}

@-moz-keyframes jump {
  0% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@-webkit-keyframes jump {
  0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

}

@-o-keyframes jump {
  0% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@-ms-keyframes jump {
  0% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  70% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-30px);
  }
}

body {
    background: #009CDF;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('../images/banner/background-black.png');
}

.work-tabs {
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
}
.work-tabs li {
    display: inline-block;
    margin: 0 5px;
}
.work-tabs li a {
    display: inline-block;
    padding: 20px 60px;
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
    background: none;
    font-size: 0.95em;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}
.work-tabs li a:hover {
    color: #d7d7d7;
    background: #009CDF;
    border: 2px solid #009CDF;
}
.work-tabs li.active a {
    color: #d7d7d7;
    background: #009CDF;
    border: 2px solid #009CDF;
}

.work-container {
    margin: 50px auto 0 auto;
	width: 99.99%;
}

#work-preview {
	position: relative;
	width: 100%;
}

#work-preview li {
	display: none;
	opacity: 0;
	position: relative;
    float: left;
    overflow: hidden;
    width: 33.3333333333%;
}

#work-preview li a, #work-preview img {
	display: block;
	width: 100%;
	height: auto;
	cursor: pointer;
}

#work-preview li a {
	overflow: hidden;
	color: #d7d7d7;
}

#work-preview img {
	z-index: 1;
	max-width: 100%;
}

#work-preview:after, #work-preview li:after {
    content: "";
    display: table;
    clear: both;
}

#work-preview .layer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	text-align: center;
	background: #009CDF;
}

#work-preview .layer h4 {
	font-size: 1.6em;
	margin-top: 23%;
}

#work-preview .layer span {
	display: inline-block;
	font-size: 0.9em;
	text-transform: uppercase;
	margin-top: 30px;
}

#work-preview .layer span i {
    font-style: italic;
    text-transform: none;
}

#work-wrapper {
	display: none;
    position: relative;
    width: 100%;
    background: #1C1E20;
}
#work-wrapper:after {
    display: table;
    content: '';
    clear: both;
}

#work-wrapper #work-loader {
	padding: 80px 0 80px 0;
	text-align: center;
}
#work-wrapper #work-loader img {
	width: 30px;
}

#work-wrapper .work-article {
	display: none;
}

#work-wrapper .close {
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}

#work-wrapper #close-work-wrapper:hover {
    border: 2px solid #009CDF;
    background-color: #009CDF;
}

#work-wrapper .wrapper {
	padding: 50px 0 60px 0;
}


#work-wrapper .work-slider img {
    width: 100%;
    max-width: 100%;
}

#work-wrapper h4 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 5px;
}

#work-wrapper .client {
    display: block;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.work-button {
    padding: 50px 0 0 0;
    text-align: center;
}

.work-button .button {
    position: relative;
}

.work-button .button img {
    display: none;
    position: absolute;
    top: 20px;
    right: -40px;
    width: 25px;
}

.newsletter {
    padding: 20px 0 0 0;
    text-align: center;
}

.newsletter input {
    display: inline-block;
}

.team-member {
    padding: 0 0 45px 0;
    text-align: center;
    /*background: #1C1E20;*/
}

.team-member .member-img {
    width: 100%;
    max-width: 100%;
    -moz-box-shadow: 0 0 5px 5px #2A2A2A;
    -webkit-box-shadow: 0 0 5px 5px #2A2A2A;
    box-shadow: 0 0 5px 5px #2A2A2A;
}

.team-member span {
    display: block;
}

.team-member .name {
    padding: 20px 0 0 0;
    font-size: 1.6em;
    font-style: italic;
}

.team-member .function {
    padding: 0 0 30px 0;
    text-transform: uppercase;
    font-size: 0.8em;
}

.contact-headline {
	margin-bottom: 0 !important;
}

.parallax-contact {
	margin-top: 0 !important;
}

.contact-row {
	padding-top: 80px;
	/*padding-bottom: 80px;*/
}

.contact-form input {
    display: block;
    max-width: 600px !important;
    margin: 0 auto 10px auto;
}

.contact-form textarea {
    display: block;
    margin: 0 auto 30px auto;
}

.contact-form .alert-box {
    max-width: 600px !important;
    margin-left: auto;
    margin-right: auto;
}

.contact-details span {
    display: block;
}

.contact-details .detail {
    display: block;
    margin-bottom: 5px;
}
.contact-details .detail:after {
    content: "";
    display: table;
    clear: both;
}

.contact-details .icon {
    float: left;
    width: 30px;
}

.contact-details .text {
    float: left;
    font-size: 0.85em;
}

.tags a {
	margin: 0 0 5px 0;
}

.bottom-box {
	padding: 20px 0;
	/*background: #1C1E20;*/
	text-align: center;
	font-size: 0.85em;
	color: rgba(255,255,255,0.4);
}

.shortcode-buttons a {
	margin: 0 0 15px 0;
}

.shortcode-social a {
	margin-bottom: 10px !important;
}

a {
    cursor: pointer;
    color: #009CDF;
    text-decoration: none;
}


p {
    margin-bottom: 30px;
    font-size: 0.85em;
}
p.max-width {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
p.undertitle {
    max-width: 850px;
    margin: 0 auto 25px auto;
    text-transform: none;
    font-size: 1.1em;
    color: rgba(218,218,218,0.8);
}
p.blockquote {
    padding: 0 0 0 20px;
    color: rgba(255,255,255,0.4);
    border-left: 5px solid #009CDF;
    font-size: 1em;
    font-style: italic;
}

h1, h2, h3, h4 {
    font-weight: 600;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    line-height: 1.5;
}
h1 {
    font-size: 3.5em;
    margin-bottom: 25px;
}
h2 {
    font-size: 2.5em;
    margin-bottom: 25px;
}
h3 {
    font-size: 2em;
    margin-bottom: 20px;
}
h4 {
    font-size: 1.3em;
    margin-bottom: 10px;
}
h5 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

h1.underline, h2.underline, h3.underline, h4.underline {
    background: url('../images/layout/under-headline.png') bottom center no-repeat;
}
h1.underline, h2.underline {
    padding-bottom: 20px;
}
h3.underline, h4.underline {
    padding-bottom: 20px;
}

.bold {
    font-weight: 700;
}
.color {
    color: #009CDF;
}
.color-red {
    color: #F90606;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    padding: 20px 60px;
    color: #d7d7d7;
    background: #009CDF;
    border: 2px solid #009CDF;
    font-size: 0.95em;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}

.button.medium {
    padding: 10px 30px;
    font-size: 0.85em;
}
.button.small {
    padding: 5px 15px;
    font-size: 0.75em;
}

.button.border {
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
    background: none;
}

.button:hover {
    background: #56c16b;
    border: 2px solid #56c16b;
}
.button.border:hover {
    color: #009CDF;
    border: 2px solid #009CDF;
    background: none;
}

.hr {
    width: 100%;
    height: 1px;
    border-top: 1px solid rgba(255,255,255,0.15);
}
.hr.margin {
   margin: 80px 0;
}

input.text, input.button, textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    font-style: italic;
    color: rgba(255,255,255,0.5);
    font-size: 0.85em;
}

input.text {
    width: 100%;
    max-width: 450px;
    padding: 22px;
    background: rgba(0,0,0,0.12);
    border: none;
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
}

input.submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    padding: 22px 60px;
    color: #d7d7d7;
    background: #009CDF;
    border: 2px solid #009CDF;
    font-size: 0.85em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}

textarea {
    width: 100%;
    max-width: 600px;
    height: 250px;
    padding: 22px;
    background: rgba(0,0,0,0.12);
    border: none;
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
}

input.submit:hover {
    background: #56c16b;
    border: 2px solid #56c16b;
}

.social-icons a {
    display: inline-block;
    margin: 0 3px;
    width: 60px;
    height: 60px;
    line-height: 57px;
    color: #d7d7d7;
    border: 2px solid #d7d7d7;
    text-align: center;
    font-size: 1.3em;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: all 0.4s;
    -moz-transition:    all 0.4s;
    -o-transition:      all 0.4s;
    transition:         all 0.4s;
}

.social-icons a:hover {
    background: #009CDF;
    border: 2px solid #009CDF;
}

.icon-box {
    text-align: center;
}

.icon-box i {
    font-size: 10em;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s;
    -moz-transition:    all 0.4s;
    -o-transition:      all 0.4s;
    transition:         all 0.4s;
}
.icon-box:hover i {
    margin-top: -25px;
    color: #009CDF;
}

.device-slider {
    position: relative;
    width: 100%;
}

.device-slider .device-img {
    width: 100%;
    z-index: 1;
}

.device-slider .bx-wrapper {
    position: absolute;
    z-index: 2;
}

.device-slider ul li {
    position: relative;
}

.device-slider ul img {
    width: 100%;
    max-width: 100%;
}

.device-slider.iphone {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.device-slider.iphone .bx-wrapper {
    top: 13%;
    margin: 0 8.5%;
    width: 83%;
}

.device-slider.macbook {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.device-slider.macbook .bx-wrapper {
    top: 7%;
    margin: 0 11.5%;
    width: 77%;
}

.carousel {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
}

.carousel:after {
    content: "";
    display: table;
    clear: both;
}

.carousel li {
    display: block;
    margin: 0 20px 0 20px;
    float: left;
}

.carousel li img {
    width: 100%;
}

#client-carousel {
    margin-top: 40px;
}

#client-carousel li a {
    opacity: 0.5;
    -webkit-transition: all 0.4s;
    -moz-transition:    all 0.4s;
    -o-transition:      all 0.4s;
    transition:         all 0.4s;
}
#client-carousel li a:hover {
    opacity: 1;
}

.toggle-box .toggle {
    margin-bottom: 2px;
}

.toggle-box .toggle .header {
    display: block;
    padding: 0;
    background: #1C1E20;
    color: #d7d7d7;
    line-height: 1;
    font-weight: 600;
    -webkit-transition: all 0.4s;
    -moz-transition:    all 0.4s;
    -o-transition:      all 0.4s;
    transition:         all 0.4s;
}
.toggle-box .toggle .header:hover {
    background: #009CDF;
}
.toggle-box .toggle .header.active {
    background: #009CDF;
}

.toggle-box .toggle .header .icon {
    display: inline-block;
    padding: 20px 0;
    width: 30px;
    text-align: center;
}

.toggle-box .toggle .header .icon.minus {
    display: none;
}

.toggle-box .toggle .header .text {
    display: inline-block;
    font-size: 0.9em;
}

.toggle-box .content {
    display: none;
    padding: 20px 30px;
    background: #1C1E20;
}

.tab-content-navi {
    border-top: 2px solid #1C1E20;
    border-bottom: 2px solid #1C1E20;
}
.tab-content-navi li:last-child {
    margin-bottom: 0;
}
.tab-content-navi li {
    margin-bottom: 2px;
}

.tab-content-navi li a {
    display: block;
    width: 100%;
    padding: 20px;
    color: #d7d7d7;
    line-height: 1;
    font-size: 0.9em;
    font-weight: 600;
    background: #1C1E20;
    border-left: 4px solid #1C1E20;
    -webkit-transition: all 0.4s;
    -moz-transition:    all 0.4s;
    -o-transition:      all 0.4s;
    transition:         all 0.4s;
}
.tab-content-navi a.active {
    background: none;
    border-left: 4px solid #009CDF;
}
.tab-content-navi a:hover {
    border-left: 4px solid #009CDF;
}

.tab-content {
    display: none;
}

.callout-box {
    position: relative;
    padding: 40px 30px;
    border-left: 4px solid #009CDF;
    background: #1C1E20;
    text-align: center;
}
.callout-box:after {
    content: "";
    display: table;
    clear: both;
}

.callout-box h3 {
    margin-bottom: 5px;
}
.callout-box p {
    margin: 0 auto 25px auto;
}
.callout-box a {
    margin-top: 8px;
}

.alert-box {
    position: relative;
    margin-bottom: 30px;
    padding: 15px 60px 15px 30px;
    font-size: 0.9em;
    background: #1C1E20;
}
.alert-box .close {
    display: block;
    position: absolute;
    right: 20px;
    top: 5px;
    padding: 10px;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
}
.alert-box .close:hover {
    color: #d7d7d7 !important;
}

.alert-box.error {
    color: #cb4545;
    border-left: 4px solid #cb4545;
}
.alert-box.error .close {
    color: #cb4545;
}

.alert-box.warning {
    color: #cec25f;
    border-left: 4px solid #cec25f;
}
.alert-box.warning .close {
    color: #cec25f;
}

.alert-box.success {
    color: #009CDF;
    border-left: 4px solid #009CDF;
}
.alert-box.success .close {
    color: #009CDF;
}

.alert-box.notice {
    color: #9f9f9f;
    border-left: 4px solid #9f9f9f;
}
.alert-box.notice .close {
    color: #9f9f9f;
}

@media screen and (max-width: 1050px) {
    .parallax-content {
        background-attachment: scroll;
        background-position: 50% 0;
    }

    #banner {
        background-attachment: scroll !important;
        background-position: 50% 0 !important;
    }

    .video-background {
        background-image: url('../videos/video-background-poster.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .video-background video {
        display: none;
    }

    #blog-preview .text h4 {
        margin-top: 16.5%;
    }

}

@media screen and (max-width: 979px) {

    body {
        font-size: 95%;
    }

    .headline-wrapper {
        margin-bottom: 70px;
        padding: 70px 0;
    }

    .parallax-content {
        margin-top: 70px;
        padding: 70px 0;
    }

    #banner .button-wrapper {
        padding-top: 50px;
    }
    
    #banner .scroll-down {
        bottom: 5px;
    }

    .work-tabs li {
        display: inline-block;
        margin: 0 5px 10px 0;
    }
    .work-tabs li a {
        padding: 15px 40px;
    }

    #work-preview li {
        width: 50%;
    }
    
    .newsletter .submit {
        margin-top: 10px;
    }
    
    .team-member {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .team-member:hover {
        margin-top: 0;
    }

    .button {
        padding: 15px 40px;
        font-size: 0.95em;
    }
    
    .hr.margin {
        margin: 70px 0;
    }

    .icon-box:hover i {
        margin-top: 0;
    }
    
    .contact-row {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 660px) {
    
    .headline-wrapper {
        margin-bottom: 50px;
        padding: 50px 0;
    }

    .parallax-content {
        margin-top: 50px;
        padding: 50px 0;
    }
    
    #header .logo-wrapper {
        top: 30px;
    }

    .social-links {
        display: none;
    }

    #main-navigation {
        top: auto;
        bottom: 50px;
    }
    #main-navigation li {
        margin: 0 0 8px 0;
    }

    #banner .banner-container {
        top: 20%;
    }

    #banner .big-text {
        font-size: 4em;
    }
    #banner .small-text {
        font-size: 1.2em;
    }

    #banner .scroll-down {
        display: none;
    }

    #work-preview li {
        width: 100%;
    }
    
    .contact-row {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .hr.margin {
        margin: 50px 0;
    }
}

@media screen and (max-width: 440px) {

    .headline-wrapper {
        margin-bottom: 40px;
        padding: 40px 0;
    }

    .parallax-content {
        margin-top: 40px;
        padding: 40px 0;
    }

    #header .logo-wrapper {
        top: 20px;
    }

    #main-navigation {
        bottom: 30px;
    }

    #banner .banner-container {
        top: 35%;
    }

    #banner .big-text {
        font-size: 2.6em;
    }
    #banner .small-text {
        font-size: 1em;
    }

    #work-preview .layer h4 {
        margin-top: 18%;
    }
    
    .contact-row {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    h1 {
        font-size: 2.8em;
    }
    
    .hr.margin {
        margin: 40px 0;
    }
}

.headline-wrapper,
.wrapper.color-bg,
#banner .scroll-down a:hover,
.work-tabs li a:hover,
.work-tabs li.active a,
#work-wrapper #close-work-wrapper:hover,
#blog-preview li:hover,
#blog-wrapper #close-blog-wrapper:hover,
.button,
input.submit,
.social-icons a:hover,
.pricing-table.best-price .header,
.toggle-box .toggle .header:hover,
.toggle-box .toggle .header.active,
.skillbar .percent-bg,
.maximage-prev:hover,
.maximage-next:hover,
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-controls-direction a:hover {
    /*background-color: #009CDF;*/
}

/*.headline-wrapper {
    background: #1C1E20;
}*/

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-padding {
    margin: 0;
    padding: 0;
}

.low-top-margin {
    margin-top: 75px;
}

.low-margin {
    margin-bottom: 75px;
}

.img-separator {
    max-width: 200px;
}

.button:hover,
input.submit:hover {
    background: #009CDF;
}

#work-preview .layer {
    background-color: #009CDF;
    opacity: 0.6;
}

#page-preloader,
#work-wrapper,
#blog-preview li,
#blog-wrapper,
.pricing-table,
.toggle-box .toggle .header,
.toggle-box .content,
.skillbar,
.tab-content-navi li a,
.callout-box,
.alert-box,
.bx-wrapper .bx-loading {
    background-color: #1C1E20;
}

body,
.bx-wrapper .bx-pager.bx-default-pager a,
div.map-popup {
    background-color: #1C1E20;
}

#header {
    background-color: #27333d;
}

.bottom-box {
    /*background-color: #1C1E20;*/
}

input.text, textarea {
    background: rgba(0,0,0,0.12);
}

a,
#main-navigation li a:hover,
#main-navigation li a.active,
.color,
.button.border:hover,
.icon-box:hover i,
.social-links a:hover {
    color: #009CDF;
}

#open-nav:hover {
    color: #009CDF;
}

body,
.social-links a,
#open-nav,
#main-navigation li a,
.work-tabs li a,
.work-tabs li a:hover,
.work-tabs li.active a,
#work-preview li a,
.button,
.button.border,
input.submit,
.social-icons a,
.toggle-box .toggle .header,
.tab-content-navi li a,
.alert-box .close:hover {
    color: #d7d7d7;
}

p.undertitle {
    color: rgba(218,218,218,0.8);
}

.bottom-box,
p.blockquote,
input.text,
input.button,
textarea  {
    color: rgba(255,255,255,0.5);
}

#banner .scroll-down a,
.work-tabs li a,
#work-wrapper #close-work-wrapper,
#blog-wrapper #close-blog-wrapper,
.button.border, .social-icons a,
.maximage-prev, .maximage-next,
.bx-wrapper .bx-controls-direction a {
    border-color: #d7d7d7;
}

#banner .scroll-down a:hover,
.work-tabs li a:hover,
.work-tabs li.active a,
#work-wrapper #close-work-wrapper:hover,
#blog-wrapper #close-blog-wrapper:hover,
.button,
.button.border:hover,
input.submit,
.social-icons a:hover,
p.blockquote,
.pricing-table.best-price .header,
.tab-content-navi a.active, .tab-content-navi a:hover,
.callout-box,
.maximage-prev:hover,
.maximage-next:hover,
.bx-wrapper .bx-controls-direction a:hover {
    border-color: #009CDF;
}

.button:hover,
input.submit:hover {
    border-color: #009CDF;
}

.tab-content-navi,
.tab-content-navi li a {
    border-color: #1C1E20;
}

.hr {
    border-color: rgba(255,255,255,0.15);
}

.pricing-table .header, .pricing-table .content {
    border-color: rgba(255,255,255,0.35);
}
