---
permalink: /blog/
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Zydialabs home page">
    <meta name="author" content="Zydialabs team">
    <link rel="shortcut icon" href="{{ "/assets/ico/favicon.png" | prepend: site.baseurl }}">
    <title>ZydiaLabs | Blog</title>
    <link href="{{ "/assets/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/fa.css" | prepend: site.baseurl }}">
    <link href="{{ "/assets/css/animate-custom.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/assets/js/modernizr.custom.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/assets/js/Chart.js" | prepend: site.baseurl }}"></script>
    <!--[if lt IE 9]>
      <script src="{{ "/assets/js/html5shiv.js" | prepend: site.baseurl }}"></script>
      <script src="{{ "/assets/js/respond.min.js" | prepend: site.baseurl }}"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-offset="0" data-target="#nav">
    <div id="navbar-main">
	    <div class="navbar-inverse">
	      <div class="container">
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="/" class="smoothScroll">Home</a></li>
				<li> <a href="/labs" class="smoothScroll"> Labs</a></li>
				<li> <a href="/blog" class="smoothScroll"> Blog</a></li>
				<li> <a href="/about" class="smoothScroll"> About</a></li>
			  </ul>
	        </div>
	      </div>
	    </div>
    </div>

  	<section id="top-proj" class="section-divider textdivider divider3">
		<div class="container">
			<h1>IDEAS MADE REAL</h1>
			<hr>
			<p>crafted with love</p>
		</div>
	</section>
	<div class="page-content">
		<div class="wrap">

				<div class="home">

				  <ul class="posts">
				    {% for post in site.posts %}
				      <li>
				        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
				        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				      </li>
				    {% endfor %}
				  </ul>

				  <!-- Pagination links -->
					<nav id="pagination">
					    {% if paginator.previous_page %}
					      {% if paginator.previous_page == 1 %}
					      <a href="/" title="Previous Page">&laquo; Previous</a>
					      {% else %}
					      <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
					      {% endif %}
					    {% endif %}
					    
					    {% if paginator.next_page %} 
					    <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
					    {% endif %} 
				  	</nav>

				</div>
			</div>
		
	</div>

	<div class="pre-contact">
		<div class="container" id="contact" name="contact">
			<div class="row">
				<div class="col-lg-2">
					<h3>COMPANY</h3>
					<p>
			            <a href="/labs/">Labs</a> <br/>
			            <a href="/blog/">Blog</a> <br/>
			            <a href="/about/">About</a> <br/>
			            <a href="/consulting/">Consulting</a> <br/>
			            <a href="/privacy-policy/">Privacy Policy</a> <br/>
			        </p>
				</div>

				<div class="col-lg-2">
					<h3>MORE LINKS</h3>
					<p>
						<a href="/labs/#opensource">Open source</a> <br/>
						<a href="/about/#team">Team</a> <br/>
						<a href="/faq">Faq</a> <br/>
						<a href="/clients/">Clients</a> <br/>
					</p>
				</div>
				
				<div class="col-lg-3">
					<h3>CONTACT US</h3>
					<p>Send us an <a href="mailto:hello@zydialabs.com">email</a>, a <a href="https://twitter.com/ZydiaLabs">tweet</a> or visit us.</p>
				</div>

				<div class="col-lg-2">
					<h3>FOLLOW US</h3>
					<p>
						<span class="icon icon-facebook"></span> <a href="mailto:hello@zydialabs.com"> Facebook</a> <br/>
						<span class="icon icon-twitter"></span> <a href="https://twitter.com/ZydiaLabs"> Twitter</a> <br/>
						<span class="icon icon-linkedin"></span> <a href="https://facebook.com/ZydiaLabs"> Linkedin</a> <br/>
						<span class="icon icon-github"></span> <a href="https://github.com/ZydiaLabs"> Linkedin</a> <br/>
					</p>
				</div>
				
				<div class="col-lg-3">
					<h3>WITH LOVE</h3>
					<p>&copy 2014 ZydiaLabs, Some Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/assets/js/retina.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/assets/js/jquery.easing.1.3.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/smoothscroll.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/assets/js/jquery-func.js" | prepend: site.baseurl }}"></script>
  </body>
</html>