body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: #009CDF;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap .row div {
	padding: 0;
	margin: 0;
}

#headerwrap .row div#textLogo {
	text-align: left;
}

#headerwrap h1 {
	margin-top: 240px;
	color: white;
	font-size: 90px;
	font-weight: 700;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 2px;
}

#headerwrap img {
	width: 350px;
	margin-top: 150px;
}

/* Portfolio Wrap */
#portfoliowrap {
	background: #E0E0E0;
	margin-top: 0px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#portfoliowrap h3 {
	color: #333;
	font-size: 30px;
}

#portfoliowrap img {
	width: 110px;
	margin-top: 15px;
}

#portfoliowrap .container {
	padding-top: 30px;
	padding-bottom: 40px;
}

.port-space {
	padding-bottom: 20px;
}


/* White Wrap */

#w {
	background: #00151F;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}

#w .container {
	border-bottom: 1px solid #ddd;
}

#w h3 {
	font-weight: 300;
	color: #ddd;
	letter-spacing: 1px;
	padding-bottom: 35px;
}

#w bold {
	font-weight: 700;
	color: #fff;
}


/* Grey Wrap */

#g {
	background: #00151F;
	padding-top: 25px;
	padding-bottom: 35px;
	text-align: center;
}

#g h1,
#g h2,
#g h3,
#g h4,
#g p {
	color: #fff;
}

#g h3 {
	font-size: 30px;
}

#g h4 {
	color: #009CDF;
}

/* Dark Grey Wrap */
#dg {
	background: #fff;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#dg h3 {
	font-size: 30px;
}

/* Footer Wrap */

#f {
	background: #2f2f2f;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center
}

#f h3 {
	color: white;	
}

#f i {
	font-size: 26px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}


/* item Wrap */

#itemwrap {
	background: url(../img/item-bg.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:70px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#itemwrap h1 {
	margin-top: 40px;
	color: white;
	font-size: 100px;
	font-weight: 700;
	letter-spacing: 3px;
}

#itemwrap h2 {
	color: white;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 2px;
}


.desc {
	text-align: left;
}

.desc-b {
	border-left: 4px solid #bababa;
}

.desc-a i {
	color: #555;
	padding-right: 8px;
}

.desc-b i {
	color: #555;
	padding-right: 8px;
}



/* MENU CONF*/

.menu {
	position: fixed;
	right: -200px;
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

.menu.menu-open {
	right: 0px;
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background: #1a1a1a;
	width: 200px;
	height: 100%;
}

.menu h1.logo a {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 20px;
}

.menu h1.logo a:hover {
	color: #009CDF;
}

.menu img.logo {
	margin: 20px 0;
	max-width: 160px;
}

.menu a {
	margin-left: 20px;
	color: #808080;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ffffff;
}

.menu a:active {
	color: #ffffff;
}

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle; 
	text-align: left;
	width: 25px;
	font-size: 14px;
	line-height: 40px;
	margin: 25px 2px;
	color: #009CDF;
}

.menu-close {
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 14px;
	color: #808080;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 20px;
	right: 5px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.menu-close:hover {
	color: #ffffff;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	border-radius: 100px;
	background: rgba(0,0,0,0.25);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#menuToggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}


/* BUTTON CONF */

.btn-theme {
	color: #fff;
	background-color: #1abc9c;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: 700;
	border-radius: 3px;
}

.btn-theme:hover {
	cursor: pointer;
	color: white;
	background-color: #16a085;
	
}

.tech{
  background: #FFF;
  color: #000;
  text-align: center;
}

.tech .container {
  padding-top: 70px;
  padding-bottom: 40px;
	border-bottom: 1px solid #ddd;
}

.tech .container .row {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 40px;
    text-align: center;
}

.tech h3 {
    color:#333;
    font-weight:300;
    margin-bottom:60px
}

.tech h3 bold{
    font-weight:400
}

.i-responsive {
  display: block;
  max-width: 100%;
  height: 100px;
}

#body-complete .container-fluid {
    padding-right: 0;
}

#body-complete .container-fluid div {
	padding: 0;
	margin: 0;
}

#body-complete {
    text-align: center;
    padding-top: 50px;
	  background: #fff;
}

#body-complete h3 {
    font-size: 30px
}

#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 0;
}

.recent-work-wrap {
  position: relative;
}

.recent-work-wrap img{
  width: 100%;
}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #fff;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #009CDF;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;  
  padding: 30px;
}

.recent-work-wrap .overlay h3 {
    color: #fff;
}

.recent-work-wrap .overlay.blue {
    background: #009CDF;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  opacity: 1;
}

.pre-contact {
    background: #00151F;
    color: #fff;
}

.pre-contact h3 {
    color: #fff;
}

.pre-contact h3{
    border-bottom:1px solid #2D4848;
    color:#FFF;
    font-size:16px;
    font-weight:600;
    line-height:1.9;
    margin-bottom:20px;
    max-width:111px;
    width:100%;
    text-transform:uppercase
}

.pre-contact .row {
    padding-left: 100px; 
    padding-right: 100px; 
}

.pre-contact a {
	color: #fff;
}

.pre-contact a:hover {
	color: #009CDF;
}

.pre-contact span {
	color: #009CDF;
}

#contact {
    padding-top: 50px;
    padding-bottom: 30px;
}

#startT {
	background: #00151F;
}

#startT .container {
	border-bottom: 1px solid #fff;
	padding-top: 20px;
	padding-bottom: 30px;
}

#startT h3 {
	color: #fff;
	text-align: center;
	font-size: 45px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#stats {
	background: #fff;
}

#stats .container {
	border-bottom: 1px solid #ddd;
	text-align: center;
}

#stats a {
	color: #333;
}

#black {
	margin-top: 0px;
	width: 100%;	
	border-bottom: 1px solid #ddd;
}

#black h3 {
	color: #333;
}

#black h4 {
	color: #333;
	text-transform: uppercase
}

#black p {
	color: #ddd;
	font-size: 16px;
	font-weight: 400;
}

#black h1 {
	color: #333;
	font-size: 70px;
	margin: 0;
}

#black hr {
	width: 50%;
}

.pt {
	padding-top: 15px;
	padding-bottom: 15px;
}

.mt {
	margin-top: 15px;
	margin-bottom: 15px;
}

#more {
	background: #fff;
}

#more .container {
	padding-bottom: 80px;
	padding-top: 70px;
	text-align: center;
}

#more h3 {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 35px;
}

#more button {
	background: #009CDF; 
	color: #fff;
	padding: 20px;
	font-size: 15px;
}

.grid {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}
.grid li {
    display: block;
    float: left;
    padding: 7px;
    width: 33%;
    opacity: 0;
}
.grid li.shown, .no-js .grid li, .no-cssanimations .grid li {
    opacity: 1;
}
.grid li a, .grid li img {
    outline: 0;
    border: 0;
    display: block;
    max-width: 100%}
.grid img {
    opacity: .7;
}
.grid img:hover {
    opacity: 1;
}
.grid.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    -moz-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
    to {
    -webkit-transform: translateY(0);
    opacity: 1;
}
}@-moz-keyframes moveUp {
    to {
    -moz-transform: translateY(0);
    opacity: 1;
}
}@keyframes moveUp {
    to {
    transform: translateY(0);
    opacity: 1;
}
}

#labs-proj {
    width: 100%;
	background: #fff;
}
#services {
    background: #009CDF;
    padding-top: 35px;
    padding-bottom: 35px;
}
#services h3 {
    color: #fff;
}
#services p {
    color: #fff;
}
#services i {
    color: #fff;
    font-size: 35px;
    margin-top: 22px;
}

#support-proj {
    background: #FFF;
}

#support-proj h4 {
    color: #333;
}

#support-proj h3 {
    color: #333;
    font-size: 30px;
}

.support-1 {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../img/labs/folio01.jpg) no-repeat;
    background-position: center;
}

.support-2 {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../img/labs/folio02.jpg) no-repeat;
    background-position: center;
}

.support-3 {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../img/labs/folio03.jpg) no-repeat;
    background-position: center;
}

#our-works {
	background: #fff;
}